.btn {
  font-family: "Lato";
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--yellow-color);
  background: var(--dark-color);
  border: 2px solid var(--bronze-color);
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 46px;
  box-shadow: 0px 0px 48px rgba(255, 158, 68, 0.37);
  backdrop-filter: blur(24.5px);
  border-radius: 30px;
  @include mobile {
    padding: 16px 36px;
  }
  cursor: pointer;
  transition: all 0.3s;
  @include mobile {
    font-size: 14px;
  }
}

.btn {
  @media (any-hover: hover) {
    &:hover {
      background: linear-gradient(90deg, var(--dark-color), grey);
    }
  }
}
