.footer {
  margin-bottom: 89px;
  .container {
    @include flex-all-center;
  }
  // .footer__text

  &__text {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--light-color);
  }
  svg {
    max-width: 41px;
    height: 41px;
    margin-right: 12px;
    margin-left: 12px;
    fill: var(--light-color);
    use {
      display: block;
    }
  }
}
