.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 101px;



  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: all 0.3s ease 0s;
  }

  &._scroll {
    .header__wrapper {
      background-color: rgba(0, 0, 0, 0.35);
      backdrop-filter: blur(30px);
      min-height: 80px;
      .nav__list {
        background-color: transparent;
        backdrop-filter: none;
        min-height: 80px;
      }

      @media (any-hover: hover) {
        &:hover {
          background-color: var(--dark-color);
        }
      }

      .header__body {
        transition: all 0.3s ease 0s;
        min-height: 50px;
      }
    }


  }
  // .header__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet{
      justify-content: flex-start;
    }
  }

  // .header__contacts

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include tablet{
      margin-right: 25px;
    }
  }

  // .header__phone

  &__phone {
    @include tablet{
      margin-bottom: 25px;
    }
  }

  // .header__adress

  &__adress {
    font-family: "Vollkorn";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: var(--light-color);
    @include big-desktop{

        font-size: 18px;


    }
    @include tablet{
      font-size: 24px;
    }
  }
}

.logo {
  margin-top: 10px;
  @include tablet{
    flex-basis: 33%;
  }
}
.nav {
  // .nav__list

  &__list {
    min-height: 101px;
    max-width: 900px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(30px);
    border-radius: 0px 0px 15px 15px;
    @include big-desktop{padding: 0px 25px 0px 25px;}
  }

  // .nav__item

  &__item {
    margin: 12px 31px;
    @include big-desktop{margin: 12px 22px 12px 22px;}
  }

  // .nav__link

  &__link {
    font-family: "Cormorant";
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    color: var(--light-color);
    text-decoration: none;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 4px;
      background-color: var(--light-color);
      bottom: -2px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    &:hover{
          &::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }


}
.phone {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  color: var(--light-color);
  @include big-desktop{
    font-size: 26px;}

}


@include tablet{
  .nav{
    padding: 80px 10px 30px;
    position: absolute;
    width: 60%;
    max-width: 320px;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 200;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 0;
    backdrop-filter: none;
    background: rgb(31, 30, 30);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;

    &__list{
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      background: none;
      border-radius: 0;
      backdrop-filter: none;
  }
    &__item{
      margin: 20px 0px;

    }
    &__link{
      font-size: 28px;

    }
  }
}
.menu--active{
  opacity: 1;
  visibility: visible;
}
