.hero {
  background: url("/img/main-bg.jpg") 0 0 no-repeat;
  height: 100vh;
  min-height: 970px;
  max-height: 1080px;
  @include mobile {
    min-height: 768px;
    background: url("/img/main-bg.jpg") 50% 0 no-repeat;
  }

  // .hero__container

  &__container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .hero__content

  &__content {
    max-width: 915px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .hero__title

  &__title {
    margin: 0;
    margin-bottom: 1.5rem;
    max-width: 630px;
    font-family: "Vollkorn";
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 100%;
    text-align: center;
    color: var(--light-color);
    @include mobile {
      font-size: 40px;
    }
  }

  // .hero__subtitle

  &__subtitle {
    margin: 0;
    margin-bottom: 4.6rem;
    font-family: "Cormorant", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 114.8%;
    text-align: center;
    color: var(--light-color);
    @include mobile {
      font-size: 24px;
      line-height: 110%;
    }
  }

  // .hero__action

  &__action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 46px;
    box-shadow: 0px 0px 48px rgba(255, 158, 68, 0.37);
    backdrop-filter: blur(24.5px);
    border-radius: 30px;
    @include mobile {
      padding: 16px 36px;
    }
  }

  &__top-btn {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 80px;
    height: 60px;
    border-radius: 50px;
    z-index: 190;
    transition: all 0.3s ease 0s;
    svg {
      min-width: 40px;
      min-height: 40px;
      // background: var(--dark-color);
      fill: var(--bronze-color);
      transform: rotateZ(-90deg);
    }
    &._scroll {
      opacity: 1;
      visibility: visible;
    }
  }

  .hero-social {
    position: fixed;
    width: 66px;
    right: 60px;
    top: 50%;
    padding: 19px 12px;
    transform: translateY(-50%);
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.36);
    backdrop-filter: blur(26.5px);

    border-radius: 15px;
    @include big-desktop {
      right: 30px;
    }
    @include small-tablet {
      top: auto;
      bottom: 20px;
    }

    // .hero-social__item

    &__item {
      width: 43px;
      height: 43px;
      border-radius: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: var(--bronze-color);
      &:first-child {
        background-color: transparent;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    // .hero-social__link

    &__link {
      @include flex-all-center;
      svg {
        width: 20px;
        height: 20px;
        // stroke: var(--bronze-color);
        // fill: var(--dark-color);
        stroke-width: 2px;
      }
    }

    // .hero-social__link--fb

    &__link--hours {
      svg {
        // stroke: var(--bronze-color);
        fill: var(--bronze-color);
        width: 41px;
        height: 41px;
      }
    }

    // .hero-social__link--vk

    &__link--wa {
    }
    // .hero-social__link--vk

    &__link--tg {
    }

    // .hero-social__link--tw

    &__link--vk {
    }
  }
}
