<section class="contacts">
  <div class="contacts__container container">
    <div class="contacts__wrapper">
      <div class="contacts__content">
        <h3 class="contacts__title section-title">Контакты</h3>
        <a href="tel:+79999999999" class="contacts__phone">+7 (999) 999-99-99</a>
        <a href="mailto:hello@opium.ru" class="contacts__mail">hello@opium.ru</a>
        <a href="#" class="contacts__adress">ул. Пушкина, д.10</a>
        <ul class="social list-reset">
          <li class="social__item"><a href="#" target="_blank" class="social__link social__link--wapp"
              aria-label="Наши контакты  в Вотсапе"><svg>
                <use xlink:href="img/sprite.svg#social-whatsapp"></use>
              </svg></a></li>
          <li class="social__item"><a href="#" target="_blank" class="social__link social__link--inst"
              aria-label="Наша страничка в Инстаграмме"><svg>
                <use xlink:href="img/sprite.svg#social-inst"></use>
              </svg></a></li>
          <li class="social__item"><a href="#" target="_blank" class="social__link social__link--vk"
              aria-label="Наша страничка во Вконтакте"><svg>
                <use xlink:href="img/sprite.svg#social-vk"></use>
              </svg></a></li>
          <li class="social__item"><a href="#" target="_blank" class="social__link social__link--tg"
              aria-label="Наши контакты в Телеграмме"><svg>
                <use xlink:href="img/sprite.svg#social-tg"></use>
              </svg></a></li>
        </ul>
      </div>
      <div id="map" class="contacts__map"></div>
    </div>
  </div>
</section>
