<section class="feedback">
  <div class="feedback__container container">
    <h3 class="feedback__title section-title">
      Отзывы
    </h3>
    <div class="swiper feedback__list">
      <div class="swiper-wrapper">
        <div class="swiper-slide feedback__item">
          <div class="feedback__author">
            <div class="feedback__name">Костя</div>
            <div class="feedback__author-age">36 лет</div>
          </div>
          <div class="feedback__rating">5.0

            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
          </div>
          <p class="feedback__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie,
            dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem</p>
        </div>
        <div class="swiper-slide feedback__item">
          <div class="feedback__author">
            <div class="feedback__name">Никита</div>
            <div class="feedback__author-age">36 лет</div>
          </div>
          <div class="feedback__rating">5.0
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
          </div>
          <p class="feedback__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie,
            dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem</p>
        </div>
        <div class="swiper-slide feedback__item">
          <div class="feedback__author">
            <div class="feedback__name">Ваня</div>
            <div class="feedback__author-age">36 лет</div>
          </div>
          <div class="feedback__rating">5.0
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
          </div>
          <p class="feedback__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie,
            dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem</p>
        </div>
        <div class="swiper-slide feedback__item">
          <div class="feedback__author">
            <div class="feedback__name">Саша</div>
            <div class="feedback__author-age">36 лет</div>
          </div>
          <div class="feedback__rating">5.0
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
          </div>
          <p class="feedback__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie,
            dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem</p>
        </div>
        <div class="swiper-slide feedback__item">
          <div class="feedback__author">
            <div class="feedback__name">Олег</div>
            <div class="feedback__author-age">36 лет</div>
          </div>
          <div class="feedback__rating">5.0
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
          </div>
          <p class="feedback__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie,
            dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem</p>
        </div>
        <div class="swiper-slide feedback__item">
          <div class="feedback__author">
            <div class="feedback__name">Саша</div>
            <div class="feedback__author-age">36 лет</div>
          </div>
          <div class="feedback__rating">5.0
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
            <svg class="feedback__star">
              <use xlink:href="img/sprite.svg#rating-star"></use>
            </svg>
          </div>
          <p class="feedback__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie,
            dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem</p>
        </div>
      </div>
    </div>
  </div>
</section>
