<header class="header">
  <div class="container header__container">
    <a href="#" class="logo"><img src="img/logo.svg" alt="Логотип массажного салон Опиум"></a>

    <nav class="nav" title="main menu" data-menu>
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Программы</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Мастера</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Интерьеры</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
    <div class="header__contacts">
      <a href="tel:+79999999999" class="header__phone phone">+7 (999) 999-99-99</a>
      <a href="#" class="header__adress"></a>
    </div>
  </div>
</header>
