<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">Массажный
        салон</h1>
      <p class="hero__subtitle">Снимите напряжение в любое время в окружении самых опытных мастеров города</p>
      <button class="btn-reset hero__action btn" data-graph-path="online-register"><span>Записаться
          онлайн</span></button>
      <a href="#go-top" class="btn hero__top-btn" data-scroll>
        <svg>
          <use xlink:href="img/sprite.svg#details-arrow"></use>
        </svg>
      </a>
      <ul class="hero-social list-reset" title="hero-social">
        <li class="hero-social__item"><a href="#" target="_blank" class="hero-social__link hero-social__link--hours"
            aria-label="Режим работы"><svg>
              <use xlink:href="img/sprite.svg#union-icon"></use>
            </svg></a></li>
        <li class="hero-social__item"><a href="#" target="_blank" class="hero-social__link hero-social__link--wa"
            aria-label="Наши контакты в Whatsapp"><svg>
              <use xlink:href="img/sprite.svg#whatapp-icon"></use>
            </svg></a></li>
        <li class="hero-social__item"><a href="#" target="_blank" class="hero-social__link hero-social__link--tg"
            aria-label="Наши контакты в Telegram"><svg>
              <use xlink:href="img/sprite.svg#tg-icon"></use>
            </svg></a></li>
        <li class="hero-social__item"><a href="#" target="_blank" class="hero-social__link hero-social__link--vk"
            aria-label="Наш номер телефона"><svg>
              <use xlink:href="img/sprite.svg#call-icon"></use>
            </svg></a></li>
      </ul>
    </div>
  </div>
</section>
