<section class="masters">
  <div class="container masters__container">
    <h3 class="masters__title section-title">
      Наши мастера
    </h3>
    <ul class="masters__list list-reset">
      <li class="masters__item">
        <picture>
          <source srcset="img/masters/master-06.webp" type="image/webp">
          <img loading="lazy" src="img/masters/master-06.png" class="masters__image" width="448" height="491"
            alt="Фотография девушки массажиста">
        </picture>
        <div class="masters__content">
          <div class="masters__parameters">
            <h3 class="masters__name">Анжела</h3>
            <div class="masters__vital">20 лет, 165 см</div>
          </div>
        </div>
        <svg class="masters__like">
          <use xlink:href="img/sprite.svg#hear-icon"></use>
        </svg>
      </li>
      <li class="masters__item">
        <picture>
          <source srcset="img/masters/master-01.webp" type="image/webp">
          <img loading="lazy" src="img/masters/master-01.png" class="masters__image" width="448" height="491"
            alt="Фотография девушки массажиста">
        </picture>
        <div class="masters__content">
          <div class="masters__parameters">
            <h3 class="masters__name">Анжела</h3>
            <div class="masters__vital">20 лет, 165 см</div>
          </div>
        </div>
        <svg class="masters__like">
          <use xlink:href="img/sprite.svg#hear-icon"></use>
        </svg>
      </li>
      <li class="masters__item">
        <picture>
          <source srcset="img/masters/master-02.webp" type="image/webp">
          <img loading="lazy" src="img/masters/master-02.png" class="masters__image" width="448" height="491"
            alt="Фотография девушки массажиста">
        </picture>
        <div class="masters__content">
          <div class="masters__parameters">
            <h3 class="masters__name">Анжела</h3>
            <div class="masters__vital">20 лет, 165 см</div>
          </div>
        </div>
        <svg class="masters__like">
          <use xlink:href="img/sprite.svg#hear-icon"></use>
        </svg>
      </li>
      <li class="masters__item">
        <picture>
          <source srcset="img/masters/master-03.webp" type="image/webp">
          <img loading="lazy" src="img/masters/master-03.png" class="masters__image" width="448" height="491"
            alt="Фотография девушки массажиста">
        </picture>
        <div class="masters__content">
          <div class="masters__parameters">
            <h3 class="masters__name">Анжела</h3>
            <div class="masters__vital">20 лет, 165 см</div>
          </div>
        </div>
        <svg class="masters__like">
          <use xlink:href="img/sprite.svg#hear-icon"></use>
        </svg>
      </li>
      <li class="masters__item">
        <picture>
          <source srcset="img/masters/master-04.webp" type="image/webp">
          <img loading="lazy" src="img/masters/master-04.png" class="masters__image" width="448" height="491"
            alt="Фотография девушки массажиста">
        </picture>
        <div class="masters__content">
          <div class="masters__parameters">
            <h3 class="masters__name">Анжела</h3>
            <div class="masters__vital">20 лет, 165 см</div>
          </div>
        </div>
        <svg class="masters__like">
          <use xlink:href="img/sprite.svg#hear-icon"></use>
        </svg>
      </li>
      <li class="masters__item">
        <picture>
          <source srcset="img/masters/master-05.webp" type="image/webp">
          <img loading="lazy" src="img/masters/master-05.png" class="masters__image" width="448" height="491"
            alt="Фотография девушки массажиста">
        </picture>
        <div class="masters__content">
          <div class="masters__parameters">
            <h3 class="masters__name">Анжела</h3>
            <div class="masters__vital">20 лет, 165 см</div>
          </div>
        </div>
        <svg class="masters__like">
          <use xlink:href="img/sprite.svg#hear-icon"></use>
        </svg>
      </li>

    </ul>
  </div>
</section>
