<section class="programs">
  <div class="container programs__container">
    <h3 class="programs__title section-title">
      Наши программы
    </h3>
    <ul class="programs__list list-reset">
      <li class="programs__item ">
        <picture>
          <source srcset="img/programs/massotherapy.webp" type="image/webp">
          <img loading="lazy" src="img/programs/massotherapy.jpg" class="programs__image" width="448" height="624"
            alt="фотография девушки черно-белая">
        </picture>
        <div class="programs__content">
          <h3 class="programs__caption">Лечебный массаж</h3>
          <p class="programs__text">Программа Лечебный массаж идеально подходит для тех, кто спешит получить
            удовольствие.
          </p>
          <div class="programs__param">
            <div class="programs__time"><svg class="">
                <use xlink:href="img/sprite.svg#time-icon"></use>
              </svg>30 минут </div>
            <div class="programs__price"><svg class="">
                <use xlink:href="img/sprite.svg#price-icon"></use>
              </svg> 3000 рублей</div>
          </div>
          <button class="btn-reset programs__btn">Подробнее
            <svg class="">
              <use xlink:href="img/sprite.svg#details-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="programs__item ">
        <picture>
          <source srcset="img/programs/wellness.webp" type="image/webp">
          <img loading="lazy" src="img/programs/wellness.jpg" class="programs__image" width="448" height="624" alt="фотография девушки черно-белая">
        </picture>
        <div class="programs__content">
          <h3 class="programs__caption">Оздоровительный
            массаж</h3>
          <p class="programs__text">Программа Лечебный массаж идеально подходит для тех, кто спешит получить
            удовольствие.
          </p>
          <div class="programs__param">
            <div class="programs__time"><svg class="">
                <use xlink:href="img/sprite.svg#time-icon"></use>
              </svg>30 минут </div>
            <div class="programs__price"><svg class="">
                <use xlink:href="img/sprite.svg#price-icon"></use>
              </svg> 3000 рублей</div>
          </div>
          <button class="btn-reset programs__btn">Подробнее
            <svg class="">
              <use xlink:href="img/sprite.svg#details-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="programs__item ">
        <picture>
          <source srcset="img/programs/foot-massage.webp" type="image/webp">
          <img loading="lazy" src="img/programs/foot-massage.jpg" class="programs__image" width="448" height="624"
            alt="фотография девушки черно-белая">
        </picture>
        <div class="programs__content">
          <h3 class="programs__caption">Массаж стоп</h3>
          <p class="programs__text">Программа Лечебный массаж идеально подходит для тех, кто спешит получить
            удовольствие.
          </p>
          <div class="programs__param">
            <div class="programs__time"><svg class="">
                <use xlink:href="img/sprite.svg#time-icon"></use>
              </svg>30 минут </div>
            <div class="programs__price"><svg class="">
                <use xlink:href="img/sprite.svg#price-icon"></use>
              </svg> 3000 рублей</div>
          </div>
          <button class="btn-reset programs__btn">Подробнее
            <svg class="">
              <use xlink:href="img/sprite.svg#details-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="programs__item ">
        <picture>
          <source srcset="img/programs/massotherapy.webp" type="image/webp">
          <img loading="lazy" src="img/programs/massotherapy.jpg" class="programs__image" width="448" height="624"
            alt="фотография девушки черно-белая">
        </picture>
        <div class="programs__content">
          <h3 class="programs__caption">Лечебный массаж</h3>
          <p class="programs__text">Программа Лечебный массаж идеально подходит для тех, кто спешит получить
            удовольствие.
          </p>
          <div class="programs__param">
            <div class="programs__time"><svg class="">
                <use xlink:href="img/sprite.svg#time-icon"></use>
              </svg>30 минут </div>
            <div class="programs__price"><svg class="">
                <use xlink:href="img/sprite.svg#price-icon"></use>
              </svg> 3000 рублей</div>
          </div>
          <button class="btn-reset programs__btn">Подробнее
            <svg class="">
              <use xlink:href="img/sprite.svg#details-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="programs__item ">
        <picture>
          <source srcset="img/programs/wellness.webp" type="image/webp">
          <img loading="lazy" src="img/programs/wellness.jpg" class="programs__image" width="448" height="624" alt="фотография девушки черно-белая">
        </picture>
        <div class="programs__content">
          <h3 class="programs__caption">Оздоровительный
            массаж</h3>
          <p class="programs__text">Программа Лечебный массаж идеально подходит для тех, кто спешит получить
            удовольствие.
          </p>
          <div class="programs__param">
            <div class="programs__time"><svg class="">
                <use xlink:href="img/sprite.svg#time-icon"></use>
              </svg>30 минут </div>
            <div class="programs__price"><svg class="">
                <use xlink:href="img/sprite.svg#price-icon"></use>
              </svg> 3000 рублей</div>
          </div>
          <button class="btn-reset programs__btn">Подробнее
            <svg class="">
              <use xlink:href="img/sprite.svg#details-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="programs__item ">
        <picture>
          <source srcset="img/programs/foot-massage.webp" type="image/webp">
          <img loading="lazy" src="img/programs/foot-massage.jpg" class="programs__image" width="448" height="624"
            alt="фотография девушки черно-белая">
        </picture>
        <div class="programs__content">
          <h3 class="programs__caption">Массаж стоп</h3>
          <p class="programs__text">Программа Лечебный массаж идеально подходит для тех, кто спешит получить
            удовольствие.
          </p>
          <div class="programs__param">
            <div class="programs__time"><svg class="">
                <use xlink:href="img/sprite.svg#time-icon"></use>
              </svg>30 минут </div>
            <div class="programs__price"><svg class="">
                <use xlink:href="img/sprite.svg#price-icon"></use>
              </svg> 3000 рублей</div>
          </div>
          <button class="btn-reset programs__btn">Подробнее
            <svg class="">
              <use xlink:href="img/sprite.svg#details-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
