// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/btn";
@import "./components/section-title";
@import "./components/header";
@import "./components/hero";
@import "./components/programs";
@import "./components/masters";
@import "./components/feedback";
@import "./components/contacts";
@import "./components/footer";
